graphics/flow/fluid
graphics/flow/wave
graphics/ray/gun
graphics/rgb/bluf
sound/amuse/amuse
sound/digitarp
sound/mrender/mrender
*.o
*.a
*.so
*.raw
*.mp3
*.png
*.pnm
*.jpeg
*.movie
*.mp4
*.pyc
__pycache__
